<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="template/template :: head">
</head>
<body>
<header th:replace="template/template :: header" ></header>

<section>

    <div class="container p-3">
        <div class ="row">
            <div class ="col-md-6 offset-md-3">

                <div class="card">
                    <div class="card-header text-center fs-4" th:text="${title}"></div>
                    <div class="card-body">

                        <form th:action="@{/api/v1/diceGame/players/logIn/verify}" th:object="${player}" method="post">
                            <div class="mb-3">
                                <label for="name" >Name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Player name">
                                <small></small>
                            </div>
                            <div class="mb-3">
                                <label for="password" >Password</label>
                                <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Player password">
                                <small></small>
                            </div>

                            <button type="submit" class="btn btn-primary col-md-12">Log in</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>

</section>

    <div class="card-body"> <h1>I don't have an account</h1>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:8080/api/v1/diceGame/players/signUp">Create an account</a>
        </li>

    </div>

</div>










<footer th:replace="template/template :: footer"></footer>

</body>
</html>